{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <title>Login Page</title>
{% endblock %}

{% block navbar %}
<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="/" class="w3-bar-item w3-button">Home Pizzeria Ivan</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <!-- insert here side button menu -->
    </div>
  </div>
</div>
{% endblock %}

{% block body %}

<script src="{{ url_for('static', filename='javascript/validate_form.js') }}"></script> 

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">
  
  <!-- Login Form -->
  <div class="w3-row w3-padding-64">
    <h1 style="text-align: center;">Log in to order your pizza</h1>
      <form method="post" name="form_login">

          <img src="{{ url_for('static', filename='img/user.png') }}" alt="user" class="avatar">
      
          <br>
          <label for="email"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="email" required>

          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" required>

          <label for="role"><b>Role</b></label>
          <select name="role" id="role">
              <option value="user">Customer</option>
              <option value="admin">Admin</option>
          </select>
              
          <button type="button" onClick="validateForm()">Login</button>
          <br>
          <h1>{{msg}}</h1>

      </form>
  </div>
</div>
{% endblock %}
